body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.counter-wrapper {
  width: 10%;
  padding-top: 20px;
}

.counter {
  background-color: rgb(204, 255, 255);
  color: black;
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px black;
}

.title {
  background-color: rgb(204, 255, 255);
}

.welcome {
  font-family: monospace;
  font-size: 18px;
  text-shadow: black;
  padding: 10px;
  margin: 10px;
}

.body-wrapper {
  background-color: #121313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button, .rain-btn, .shop-btn {
  background-color: rgb(204, 255, 255);
  margin: 10px;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5%;
  font-size: 18px;
  font-family: monospace;
  border: 1px solid rgb(48, 214, 255);
  box-shadow: 1px 1px 1px 1px black;
}

.rain-btn:hover {
  background-color: rgb(72, 88, 88);
  color: white;
  transition: 0.8s;
}

.shop-btn:hover {
  background-color: rgb(72, 88, 88);
  color: white;
  transition: 0.8s;
}

.rain-btn:active {
  background-color: rgb(122, 252, 252);
  color: white;
  transition: 0.3s;
}

.shop-btn:active {
  background-color: rgb(122, 252, 252);
  color: white;
  transition: 0.3s;
}

.info {
  cursor: help;
}